#container{
    border: 2px solid black;
    width: 300px;
    display: flex;
}
#green{
    background-color: #169B62;
height: 200px;
width: 100px;
display:inline-block;
}
#white{
    background-color: whitesmoke;
    height: 200px;
    width: 100px;
    display:inline-block;
}
#red{
    background-color: #FF883E;
    height: 200px;
    width: 100px;
    display:inline-block;

}