*{
    margin:0;
    padding: 0;
}
body{
    display:flex;
    justify-content: center;
    padding: 100px;
}

#container1{
    border:2px solid black;
    height:400px;
    width:800px;
}

#bluebox{
    background-color: rgb(7, 143, 170);
    width:100%;
    height:100px;
}

.userpic{
    height:100px;
    border: 3px whitesmoke;
    position: relative;
    padding-top: 50px;
    padding-left: 25px;
}

.mappic{
    height:25px;
}

#mapmarker, h2{
    display: inline-block;
}

#editprofile{
    text-decoration: underline;
    padding-top: 15px;

}

.gear{
    height: 15px;
}

#text{
    padding-top: 55px;
    padding-left: 25px;
}

h2{
    padding: 15px 5px;
}
